<!DOCTYPE html>
<html lang="en">
<!--Head Section-->
<%- include("./partials/head.ejs") %>

    <body>

        <!-- Header Section -->
        <%- include("./partials/header.ejs") %>

            <!-- Main Content -->
            <main>
                <div class="container">

                    <!-- Create Post Form -->
                    <%- include('partials/createPostForm.ejs') %>
                        <h2>Profile</h2>
                        <h3>Nickname: <%=user.nickname %></h3>

                        <section class="post-list">
                            <div id="postsContainer"></div>
                        </section>
                </div>
            </main>

            <!-- Footer Section -->
            <%- include("./partials/footer.ejs") %>
    </body>

</html>